[submodule "ParadigmScheme"]
	path = ParadigmScheme
	url = https://github.com/Innokentii-Smirnov/ParadigmScheme.git
[submodule "SanskritMorphonologyFST"]
	path = SanskritMorphonologyFST
	url = https://github.com/Innokentii-Smirnov/SanskritMorphonologyFST.git
[submodule "MorphTestData"]
	path = MorphTestData
	url = https://github.com/Innokentii-Smirnov/MorphTestData.git
